<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FAQs | Watsonisite</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-[#222B5A]">
    <div class="logo bg-[#313D7C] py-3">
      <h1 class="font-bold text-4xl text-center text-white">WATSONISITE</h1>
    </div>
    <div class="navi bg-[#1E254D] py-2">
      <nav>
        <ul class="flex justify-around text-white font-semibold text-xl px-8">
          <li class="px-3">
            <a href="index">
              <button
                class="w-48 h-10 rounded-md hover:bg-[#222B5A] hover:delay-150 duration-300"
              >
                Home
              </button>
            </a>
          </li>
          <li class="px-3">
            <a href="news">
              <button
                class="w-48 h-10 rounded-md hover:bg-[#222B5A] hover:delay-150 duration-300"
              >
                News
              </button>
            </a>
          </li>
          <li class="px-3">
            <a href="faq">
              <button
                class="w-48 h-10 rounded-md hover:bg-[#222B5A] hover:delay-150 duration-300"
              >
                FAQs
              </button>
            </a>
          </li>
          <li class="px-3">
            <a href="calc">
              <button
                class="w-48 h-10 rounded-md hover:bg-[#222B5A] hover:delay-150 duration-300"
              >
                Bitcoin Calculator
              </button>
            </a>
          </li>
          <li class="px-3">
            <a href="contact">
              <button
                class="w-48 h-10 rounded-md hover:bg-[#222B5A] hover:delay-150 duration-300"
              >
                Contact Us
              </button>
            </a>
          </li>
          <li class="px-3">
            <a href="subscribe">
              <button
                class="w-48 h-10 rounded-md hover:bg-[#222B5A] hover:delay-150 duration-300"
              >
                Subscribe
              </button>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <p class="px-20 text-1xl text-left text-white">
      <br /><br />
      <b>What is blockchain?</b><br />
      The first-ever cryptocurrency, Bitcoin, is the first successful
      implementation of blockchain in the real world. Blockchain technology is
      basically a transparent, publicly accessible, trustless, and secure
      ledger. It helps in secure transfer of the ownership of units of value by
      leveraging proof of work consensus and public-key encryption methods.
      Blockchain leverages decentralized consensus for maintaining the network,
      thereby excluding intermediaries such as government, banks, or
      corporations from the process.<br /><br /><br />
      <b>What are the reasons for the popularity of cryptocurrencies?</b><br />
      One of the most common reasons for popularity of cryptocurrencies refers
      to the assumptions suggesting that cryptocurrencies are the currency of
      the future. In addition, cryptocurrencies also remove banks and other
      financial intermediaries from focusing on reducing the value of money.
      Most important of all, the technology behind cryptocurrencies, i.e.,
      blockchain, is the biggest draw for the future of crypto. Blockchain
      offers a decentralized system for processing and documenting transactions
      with better security in comparison to conventional payment systems. On top
      of it, the rising value of cryptocurrencies also encourages people to turn
      towards cryptocurrencies in large numbers. <br /><br /><br />
      <b>Who controls cryptocurrencies?</b><br />
      Blockchain does not allocate control to a single entity in the case of
      cryptocurrencies. However, the creators or developers of cryptocurrencies
      can set specific parameters such as rules for purchasing or selling
      cryptocurrency. On the other hand, users get the privilege of controlling
      or managing the day-to-day operations of cryptocurrencies in a distributed
      manner. In addition, the identity of owners is anonymous, and you could
      not find any solid regulatory framework for verifying ownership of
      cryptocurrencies. However, some countries are investing efforts in
      introducing some regulations in this area for countering illegal
      activities. The legal framework for cryptocurrencies could help
      governments in fighting off the concerns of terrorism financing and money
      laundering with cryptocurrencies. Furthermore, regulations could also
      strengthen control of governments over monetary policies with respect to
      cryptocurrencies.<br /><br /><br />
      <b>Is it reasonable to invest in cryptocurrencies?</b><br />
      If you want to find whether cryptocurrencies are a good investment, then
      you should definitely know that they are volatile. Cryptocurrencies do not
      generate any cash flow like real currencies and are not stable. A currency
      should have stability which could help merchants and consumers in deciding
      the fair price for goods. Bitcoin and many other popular cryptocurrencies
      have barely shown any sign of stability since their inception. For
      example, after rising to almost $20,000 in 2017, the value of Bitcoin
      dropped to almost $3200 in 2018. Now in 2021, Bitcoin has been successful
      in attaining record high levels. With price volatility as the main
      concern, it is quick to arrive at a conclusion about investments in
      cryptocurrency.<br /><br /><br />
      <b>How can I buy cryptocurrencies?</b><br />
      You can buy cryptocurrencies through a wallet, which is basically an
      online app for holding your crypto assets. Users generally have to create
      an account for a specific exchange and transfer actual money for
      purchasing cryptocurrencies such as Ethereum or Bitcoin. One of the
      popular examples of platforms tobuy and sell cryptocurrency is Coinbase.
      The renowned cryptocurrency trading exchange helps you create a wallet and
      conduct cryptocurrency transactions easily.<br /><br /><br />
      <b>What are cryptocurrency wallets?</b> <br />
      The crypto wallets are basically platforms for secure storage of digital
      assets in comparison to exchanges. Users could hold a wallet through an
      exchange account or a custody wallet and even from outside the exchange.
      As a matter of fact, cryptocurrency wallets help in storing the private
      keys to your cryptocurrency on the blockchain. You can find two distinct
      variants of crypto wallets such as hot wallets and cold wallets. Users can
      access the hot wallets with connectivity to the internet through their
      desktops, mobile phones, or tablets. On the other hand, cold wallets store
      private keys to cryptocurrency of users in offline storage, thereby
      ensuring better security. However, you have to focus on the security of
      the cold wallet itself, which might be in the form of a USB device or
      paper.<br /><br /><br />
      <b>How is Bitcoin Cash different from Bitcoin?</b><br />
      Bitcoin Cash evolved as a hard fork from the Bitcoin network. Bitcoin cash
      implemented a new improvement with an increased block size at 8MB. The
      primary objective of Bitcoin Cash for increasing block size focuses on
      ensuring faster transactions alongside including more transactions in
      every block. Most important of all, you should know that Bitcoin and
      Bitcoin Cash are two completely different cryptocurrencies. You cannot
      send Bitcoin Cash to Bitcoin addresses and vice versa<br /><br /><br />
      <b>How are cryptocurrency transactions recorded?</b><br />
      Cryptocurrency transactions are recorded on a shared, digital ledger
      called a blockchain. This is decentralized technology, spread across many
      computers, that records every transaction. <br /><br /><br />
      <b>Can I be hacked? What if I am hacked?</b><br />
      Unfortunately, there is a history of exchanges and online wallets being
      hacked. This is one of key reasons to thoroughly research where you trade
      cryptocurrency and securely store your digital assets. If you are hacked,
      there is not FDIC insurance or anything similar. If you have a large
      position, you can purchase individual crypto insurance. Additionally, many
      exchanges finance their own insurance plans in the event of a hack. The
      insurance coverage is generally capped and not guaranteed, so there is
      still a risk of loss<br /><br /><br />
      <b>What is a full node?</b><br />
      Full nodes validate transactions within the blockchain and are voluntarily
      maintained by individuals, groups and organizations (such as merchants for
      example) all around the world and broadcast all the messages within the
      protocol. Full nodes add an additional layer of security for these
      participants within the Bitcoin network and operate in an altruistic
      manner - meaning they work without reward. Some use cases for individuals
      or groups such as merchants running a full node is for detecting
      double-spends or for increased privacy
    </p>
    <br /><br />
  </body>
</html>
